<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="7zip.install" />
   <package id="chocolatey" />
   <package id="chocolatey-core.extension" />
   <package id="chocolatey-windowsupdate.extension" />
   <package id="DotNet4.6.1" />
   <package id="KB2919355" />
   <package id="KB2919442" />
   <package id="KB2999226" />
   <package id="KB3033929" />
   <package id="KB3035131" />
   <package id="notepadplusplus.install" />
   <package id="pgadmin4" />
   <package id="premotem" />
   <package id="python3" />
   <package id="sumatrapdf" />
   <package id="sumatrapdf.install" />
   <package id="sysinternals" />
   <package id="vcredist140" />
   <package id="vcredist2015" />
   <package id="windirstat" />
   <package id="pgadmin4" />
   <package id="sql-server-management-studio" />
</packages>